@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    /* -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}



.bg{
    background-image: url('../images/jpg/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 95vh;
    background-attachment: fixed;
}

@media (max-width:620px) {
    .bg{
        height:80vh;
    }
}



.montserrat{
    font-family: var(--font-montserrat);
}

.asap{
    font-family: var(--font-asap);
}

.border-color{
    --react-international-phone-border-color:'white';
}
.container{
    width: 1450px;
    max-width:100% ;
    padding:20px 0 20px 0 ;
    margin: 0 auto;
}
.background{
    background-position:bottom;
}
.rem{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.par-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexbox{
    flex: 20rem;
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    align-self: normal;  
}

.bg-img{
    background-image:url('https://optim.tildacdn.one/tild3637-3033-4466-b736-303563613664/-/format/webp/18134_2_5.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.opinions-bg{
    background-position: center center;
}

.carpet-bg{
    background-image: url('https://static.tildacdn.one/tild3161-6433-4766-b238-333237666534/photo503536338992009.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.rem2{
    text-shadow:0 0 15px rgba(0, 0, 0, 0.4);
}
